.user{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    margin: 25px 20px;
    border: none;
    box-shadow: lightgray 0px 0px 10px 5px;
    transition: all 200ms ease-in-out
}

.user:hover{
    transform: scale(1.03)
}
.user__image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.user__image > img{
    object-fit: contain;
    height: 200px;
    margin-bottom: 15px;
}


.ant-modal-footer{
    display: none !important;
}